body{
  background-color: #6176A9;
  font-size: 19px;
  clolor: black;
}

.jumbotron{
  background-color: #536971;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
}

form{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
